language: minimal
env:
  global:
    - TRAVIS_WAIT_TIMEOUT=${TRAVIS_WAIT_TIMEOUT:-30}
    - BRANCH=${TRAVIS_PULL_REQUEST_BRANCH:-${TRAVIS_BRANCH}}
branches:
  only:
    - master
    - develop
stages:
  - name: build
  - name: test
  - name: publish
    if: type != pull_request
  - name: deploy
    if: type != pull_request
  - name: trigger
    if: type != pull_request
