name: Automated Branch Promotion PRs

on:
  workflow_call:
    inputs:
      source-branch:
        description: 'Source branch to promote from'
        type: string
        default: 'develop'
      target-branches:
        description: 'JSON array of target branches to promote to'
        type: string
        required: true
      pr-title-template:
        description: 'Template for PR title (use {0} placeholder for branch)'
        type: string
        default: 'Update {0} env'
      pr-body-template:
        description: 'Template for PR body (use {0} for branch and {1} for source placeholders)'
        type: string
        default: 'This PR updates the {0} environment with the latest changes from the {1} branch.'
      draft-pr:
        description: 'Create PRs as drafts'
        type: boolean
        default: true
      reviewers:
        description: 'A comma or newline-separated list of reviewers (GitHub usernames) to request'
        type: string
        required: false
      team-reviewers:
        description: 'A comma or newline-separated list of GitHub teams to request as reviewers'
        type: string
        required: false
    secrets:
      gh-token:
        description: 'GitHub token for creating PRs'
        required: true

permissions:
  contents: read

jobs:
  promotion:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        branch: ${{ fromJson(inputs.target-branches) }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ matrix.branch }}

      - name: Reset promotion branch
        run: |
          git fetch origin ${{ inputs.source-branch }}
          git reset --hard origin/${{ inputs.source-branch }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          branch: ${{ inputs.source-branch }}
          title: ${{ format(inputs.pr-title-template, matrix.branch) }}
          draft: ${{ inputs.draft-pr }}
          body: ${{ format(inputs.pr-body-template, matrix.branch, inputs.source-branch) }}
          reviewers: ${{ inputs.reviewers }}
          team-reviewers: ${{ inputs.team-reviewers }}
          token: ${{ secrets.gh-token }}
