name: Publish helm package

on:
  workflow_call:
    inputs:
      next-version:
        description: "Next final version to be release"
        type: string
        required: true
      chart-dir:
        description: "Path to the directory holding Chart.yml file"
        type: string
        required: false
      helm-charts-repo:
        description: "The name of the repository where the package will be added"
        type: string
        required: true
      helm-charts-repo-branch:
        description: "The name of the branch where the package will be added"
        type: string
        required: true
      helm-charts-repo-subfolder:
        description: "The name of the subfolder inside the charts repository where the package should be added"
        type: string
        required: false
      helm-charts-repo-base-url:
        description: "Helm chart repo base url"
        type: string
        required: false
      helm-docs-version:
        description: 'Version of helm-docs'
        type: string
        required: false
    outputs:
      version:
        description: "The version of the new published package"
        value: ${{ jobs.publish.outputs.version }}

jobs:
  publish:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.next-release.outputs.next-prerelease }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - id: next-release
        name: Calculate next internal release
        uses: Alfresco/alfresco-build-tools/.github/actions/calculate-next-internal-version@v12.13.0
        with:
          next-version: ${{ inputs.next-version }}

      - name: Set version env variable
        env:
          VERSION: ${{ steps.next-release.outputs.next-prerelease }}
        run: |
          echo "VERSION=$VERSION" >> "$GITHUB_ENV"

      - name: Update chart version
        uses: Alfresco/alfresco-build-tools/.github/actions/helm-update-chart-version@v12.13.0
        with:
          new-version: ${{ env.VERSION }}
          chart-dir: ${{ inputs.chart-dir }}
          helm-docs-version: ${{ inputs.helm-docs-version }}

      - uses: Alfresco/alfresco-build-tools/.github/actions/git-commit-changes@v12.13.0
        with:
          username: ${{ secrets.BOT_GITHUB_USERNAME }}
          add-options: -u
          commit-message: "release $VERSION"

      - name: Create local tag
        run: git tag -a "$VERSION" -m "Release version $VERSION"

      - name: Package Helm Chart
        id: package-helm-chart
        uses: Alfresco/alfresco-build-tools/.github/actions/helm-package-chart@v12.13.0
        with:
          chart-dir: ${{ inputs.chart-dir }}

      - name: Push tag
        run: git push origin "$VERSION"

      - name: Publish Helm chart
        uses: Alfresco/alfresco-build-tools/.github/actions/helm-publish-chart@v12.13.0
        with:
            helm-charts-repo: ${{ inputs.helm-charts-repo }}
            helm-charts-repo-branch: ${{ inputs.helm-charts-repo-branch }}
            chart-package: ${{ steps.package-helm-chart.outputs.package-file-path }}
            token: ${{ secrets.BOT_GITHUB_TOKEN }}
            git-username: ${{ secrets.BOT_GITHUB_USERNAME }}
