name: Test nuxeo image builder

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    paths:
      - '.github/actions/nuxeo/nuxeo-docker-build/**'
      - '.github/workflows/test-nuxeo.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      NUXEO_CONNECT_MODULE: nuxeo-web-ui
      NUXEO_LOCAL_MODULE_PACKAGE: nuxeo-ai-image-quality-package
      NUXEO_LOCAL_MODULE: nuxeo-ai-image-quality
      NUXEO_LOCAL_MODULES_PATH: addons
      NUXEO_OS_PACKAGES: |
        awscli
        ccextractor-nuxeo
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Prepare addons directory
        run: mkdir -p ${{ env.NUXEO_LOCAL_MODULES_PATH }}

      - name: Fetch Nuxeo local module
        env:
          PKG_URL: https://packages.nuxeo.com/repository/maven-public-releases/org/nuxeo/ai/${{ env.NUXEO_LOCAL_MODULE_PACKAGE }}/4.0.2/${{ env.NUXEO_LOCAL_MODULE_PACKAGE }}-4.0.2.zip
          NEXUS_USER: ${{ secrets.NUXEO_NEXUS_USER }}
          NEXUS_TOKEN: ${{ secrets.NUXEO_NEXUS_PASSWORD }}
        run: |
          curl -fsSL -u "$NEXUS_USER:$NEXUS_TOKEN" "$PKG_URL" -o ${{ env.NUXEO_LOCAL_MODULES_PATH }}/${{ env.NUXEO_LOCAL_MODULE_PACKAGE }}-4.0.2.zip;
          test -s ${{ env.NUXEO_LOCAL_MODULES_PATH }}/${{ env.NUXEO_LOCAL_MODULE_PACKAGE }}-4.0.2.zip

      - name: Build nuxeo image and push to registry
        uses: ./.github/actions/nuxeo/nuxeo-docker-build
        id: build_nuxeo_image
        with:
          base-registry-username: ${{ secrets.NUXEO_NEXUS_USER }}
          base-registry-password: ${{ secrets.NUXEO_NEXUS_PASSWORD }}
          nuxeo-connect-modules: ${{ env.NUXEO_CONNECT_MODULE }}
          nuxeo-clid: ${{ secrets.NUXEO_CLID }}
          nuxeo-local-modules-path: ${{ env.NUXEO_LOCAL_MODULES_PATH }}
          os-packages: ${{ env.NUXEO_OS_PACKAGES }}
          os-packages-user: ${{ secrets.NUXEO_NEXUS_USER }}
          os-packages-token: ${{ secrets.NUXEO_NEXUS_PASSWORD }}
          image-name: nuxeo/nuxeo-ci-builder-test
          image-tag: ${{ github.run_id }}
          image-title: "Nuxeo CI Builder Test"
          load-image: "true"
          platforms: linux/amd64 # load can only be done for a single platform
          registry: localhost

      - name: Verify installed Nuxeo Modules
        env:
          IMAGE_URL: ${{ steps.build_nuxeo_image.outputs.image-url }}
          EXPECTED_MODULES: ${{ env.NUXEO_CONNECT_MODULE }} ${{ env.NUXEO_LOCAL_MODULE }}
          EXPECTED_PACKAGES: ${{ env.NUXEO_OS_PACKAGES }}
        run: "${{ github.workspace }}/.github/actions/nuxeo/nuxeo-docker-build/verify.sh"
