name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  pull_request_review:
      types: [ submitted ]

jobs:
  build:
    # Trigger a run when approving a bot PR or as usual
    if: >-
      (github.event.review.state == 'approved' && contains(fromJSON('["dependabot[bot]", "github-actions[bot]"]'), github.event.pull_request.user.login)) ||
      (github.actor != 'dependabot[bot]' && github.event_name != 'pull_request_review')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: pre-commit checks
        uses: ./.github/actions/pre-commit
      - name: Ensure SHA pinned actions
        uses: hyland/github-actions-ensure-sha-pinned-actions@1afac08cba4e5ea12263a46f49683570690ae3af # v1.2.0
        with:
          allowlist: |
            Alfresco/alfresco-build-tools/*
  test:
    runs-on: ${{ matrix.os }}
    needs: build
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Switch to local actions when requested
        if: contains(github.event.pull_request.labels.*.name, 'test/local-actions')
        run: |
          find .github/actions -name "action.yml" -type f \
            -exec sed -i 's|uses: Alfresco/alfresco-build-tools/\.github/actions/\([^@]*\)@v[0-9]\+\.[0-9]\+\.[0-9]\+|uses: ./.github/actions/\1|g' {} \;
          git diff

      # free-hosted-runner-disk-space action usage and test
      - name: Check available disk space before running free-hosted-runner-disk-space action
        id: free-hosted-runner-disk-space
        run: echo "total_size_before=$(df --total --output=avail | tail -1)" >> "$GITHUB_OUTPUT"
      - name: Free up disk space on the runner
        uses: ./.github/actions/free-hosted-runner-disk-space
        with:
          diagnose-top-offenders-enabled: 'true'
      - name: Assert that space available on the runner has increased
        env:
          TOTAL_SIZE_BEFORE: ${{ steps.free-hosted-runner-disk-space.outputs.total_size_before }}
        run: test "$TOTAL_SIZE_BEFORE" -lt "$(df --total --output=avail | tail -1)"

      #region Test setup-helm-docs
      - uses: ./.github/actions/setup-helm-docs
        id: setup-helm-docs-latest
      - uses: ./.github/tests/actions/test-setup-helm-docs
        with:
          expected-version: ${{ steps.setup-helm-docs-latest.outputs.version }}
      - uses: ./.github/actions/setup-helm-docs
        id: setup-helm-docs-fixed-version
        with:
          version: 1.13.1
      - uses: ./.github/tests/actions/test-setup-helm-docs
        with:
          expected-version: ${{ steps.setup-helm-docs-fixed-version.outputs.version }}
      #endregion

      - uses: ./.github/actions/setup-jx-release-version
      - uses: ./.github/actions/setup-kubepug
      - uses: ./.github/actions/rancher
        if: ${{ ! github.event.pull_request.head.repo.fork && github.actor != 'dependabot[bot]' && matrix.os == 'ubuntu-latest' }}
        with:
          rancher-url: ${{ vars.RANCHER_OPSEXP_URL }}
          rancher-access-key: ${{ secrets.RANCHER_OPSEXP_ACCESS_KEY }}
          rancher-secret-key: ${{ secrets.RANCHER_OPSEXP_SECRET_KEY }}
          cluster-name: "fake_cluster"
          action: "detach"
      - uses: ./.github/actions/setup-rancher-cli
        if: ${{ ! github.event.pull_request.head.repo.fork && github.actor != 'dependabot[bot]' && matrix.os == 'ubuntu-latest' }}
        with:
          url: ${{ vars.RANCHER_OPSEXP_URL }}
          access-key: ${{ secrets.RANCHER_OPSEXP_ACCESS_KEY }}
          secret-key: ${{ secrets.RANCHER_OPSEXP_SECRET_KEY }}
          context: local
      - uses: ./.github/actions/setup-updatebot
      - uses: ./.github/actions/setup-pysemver
      - uses: ./.github/actions/calculate-next-internal-version
        with:
          next-version: 7.3.0
      - uses: ./.github/actions/resolve-preview-name
      - uses: ./.github/actions/setup-terraform-docs
      - uses: ./.github/actions/setup-kcadm
      - uses: ./.github/actions/env-load-from-yaml
        with:
          ignore_regex: ^TRAVIS_BRANCH=.*
          yml_path: ./.github/tests/env-load-from-yaml/env.yml
      - name: Test env-load-from-yaml
        run: |
          if [ -z "$APP_SETTING_ONE" ]; then
            echo APP_SETTING_ONE should be set!
            exit 1
          fi
          if [ -n "$TRAVIS_BRANCH" ]; then
            echo TRAVIS_BRANCH should not be set!
            exit 1
          fi

      - uses: ./.github/actions/setup-checkov
      - uses: ./.github/actions/setup-fluxcli
      - uses: ./.github/actions/setup-updatecli
      - uses: ./.github/actions/setup-github-release-binary
        with:
          repo: updatecli/updatecli
          version: 0.93.0
          url_template: 'v${VERSION}/${NAME}_${OS}_${ARCH}.tar.gz'
          test_args: 'version'
          x86_64_arch: 'x86_64'

      - uses: ./.github/actions/xvfb-record
        with:
          test_command: echo "Running Nuxeo image builder tests..."
          timeout_minutes: 30
          video_name: "nuxeo_image_test_run-${{ matrix.os }}"
          video_extension: "mp4"
          max_attempts: 1
          retry_on: error

      # region Test get-commit-message
      - uses: ./.github/actions/get-commit-message
        id: get-full-commit-message

      - name: Test full commit message
        env:
          COMMIT_MSG_OUTPUT: ${{ steps.get-full-commit-message.outputs.COMMIT_MESSAGE }}
          COMMIT_MSG_ENV: ${{ env.COMMIT_MESSAGE }}
        run: |
          echo "Full commit message (output): $COMMIT_MSG_OUTPUT"
          echo "Full commit message (env): $COMMIT_MSG_ENV"

      - uses: ./.github/actions/get-commit-message
        id: get-commit-message-header-only
        with:
          header-only: true

      - name: Test commit message header
        env:
          COMMIT_MSG_HEADER_OUTPUT: ${{ steps.get-commit-message-header-only.outputs.COMMIT_MESSAGE }}
          COMMIT_MSG_HEADER_ENV: ${{ env.COMMIT_MESSAGE }}
        run: |
          echo "Full commit message header (output): $COMMIT_MSG_HEADER_OUTPUT"
          echo "Full commit message header (env): $COMMIT_MSG_HEADER_ENV"
      # endregion
